/* Выравнивание текста для заголовков, меток и элементов */
h3, h4, .countLabel, .countValue, .elementComponent {
    text-align: center;
}

/* Обнуление отступов для html и body, установка высоты 100% */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Главный контейнер с высотой 100% */
#mainComponent {
    display: flex;
    height: 100%;
}

/* Меню с фиксированной шириной и фоном */
#menuComponent {
    flex: 0 0 20%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Загруженный компонент с фоном и отступами */
#loadedComponent {
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: auto;
}

/* Основное тело приложения с высотой 100% */
#bodyComponent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Контейнер для кнопок */
#buttonsComponent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стили для элементов списка и информационного компонента */
#listComponent, #infoComponent {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

/* Стили для подкомпонентов с общими отступами и фоном */
.subComponent {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

/* Убираем отступ снизу для последнего подкомпонента */
.subComponent:last-child {
    margin-bottom: 0;
}

/* Стили для контейнера элементов с прокруткой и фиксированной высотой */
#elementsContainerComponent {
    overflow-y: auto;
    height: 200px;
}

/* Стили для выбранных элементов списка */
.selected {
    background-color: #28a745 !important;
    color: white !important;
}

/* Стили для элементов списка */
.elementComponent {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Убираем отступ снизу для последнего элемента списка */
.elementComponent:last-child {
    margin-bottom: 0;
}

/* Стили для компонента счетчика с отступами и фоном */
.countComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

/* Стили для меток счетчика и значения с фоном и радиусом границы */
.countLabel, .countValue {
    padding: 3px 10px;
    background-color: #e9ecef;
    border-radius: 3px;
}

/* Отступ метки счетчика справа */
.countLabel {
    margin-right: 10px;
}

/* Стили для контейнера JSON с прокруткой */
#JSONComponent {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

/* Стили для контейнера кнопок с флекс-распределением */
.buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
